
$primary:       #163264 !default;
$secondary:     #fe340c !default;

$gray-100: #F2F2F2 !default;

// Font Size
$display-font-sizes: ( 1: 4rem,  2: 3.5rem,  3: 3rem,  4: 2.5rem,  5: 2rem,  6: 1.5rem) !default;

$font-family: 'Nunito'

 